.home{
    width: 100%;
    background-color: #FFFDF4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transform: translateY(80px);
}