.colors{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.colors__color{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.colors__color__select, .colors__color__number{
    width: 49% !important;
}
.colors__color__select{
    font-size: 1.2rem;
}
.colors__plus{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #535353;
    color: #FFFDF4;
}
.colors__plus:hover{
    background-color: #333333;
    cursor: pointer;
}